docs/EDM_Mapping_Guidelines_v2.4_102017.pdf
docs/EDM_Primer_130714.pdf
docs/EDM_slides_130714.ppt
oud
imports/catalog-v001.xml
imports/Das/1535815171152-Dutch_Ships_and_Sailors_-/catalog-v001.xml
imports/Das/1535815171152-Dutch_Ships_and_Sailors_-/das_data.ttl
imports/Das/1535815171152-Dutch_Ships_and_Sailors_-/das_schema.ttl
imports/Das/1535815171152-Dutch_Ships_and_Sailors_-/das_thes_gen.ttl
imports/Das/1535815171152-Dutch_Ships_and_Sailors_-/manifest-sha1.txt
imports/Das/1535815171152-Dutch_Ships_and_Sailors_-/meta/file_metadata.xml
imports/Das/1535815171152-Dutch_Ships_and_Sailors_-/meta/general_conditions_DANS.pdf
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/catalog-v001.xml
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/gzmvoc_2_das.ttl
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/gzmvoc_data.ttl
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/gzmvoc_schema.ttl
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/gzmvoc_thes_gen.ttl
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/gzmvoc_thes_gen_places.ttl
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/manifest-sha1.txt
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/Documentation/Dutch_Ships_and_Sailors_Project_Linked_Data.pdf
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/Documentation/readme_gzmvoc.txt
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/Documentation/The_Dutch_Ships_and_Sailors_Project.pdf
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/Documentation/void.ttl
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/DSS_GZMVOC_Scripts/rewrite_gzmvoc.pl
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/DSS_GZMVOC_Scripts/run_dss.pl
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/meta/file_metadata.xml
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/meta/general_conditions_DANS.pdf
imports/GZMVOC/1536067349270-Dutch_Ships_and_Sailors_-/Niet-DC-metadata/CMDI/dss_gzmvoc.cmdi
voorbeeld implementaties/catalog-v001.xml
catalog-v001.xml
